<!DOCTYPE html>
<!-- saveda from url=(0024)http://2xoo1fll.plp7.ru/ -->
<html hola_ext_inject="disabled">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/css/default.css">
    <script type="text/javascript">window._trackJs = {
        token: "4fd557ccb06a4bd28e7b90da188cd54b",
        application: "production",
        enabled: location.href.indexOf("notrackjs") < 0,
    };</script>
    <script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
</head>
<body class="area adaptive-xs-sm-md-lg">
{% include 'goto/header.html' %}
<div class="area font-text-opensanslight font-header-opensanslight adaptive-xs-sm-md-lg">
    <div class="node section section-clear node1213">
        <style>.node1213 a {
            color: rgb(25, 230, 179);
        }</style>
        <div class="wrapper1" style="color: rgb(13, 13, 13); background-color: rgb(255, 255, 255);">
            <div class="wrapper2" style="padding-top: 30px; padding-bottom: 30px;">
                <div class="container"></div><!-- PLPLINK -->
                <div class="macros-header"></div>
                <div class="container">
                    <div class="cont">
                        <div class="node widget widget-grid node1214">
                            <style>.node1214 a {
                                color: rgb(25, 230, 179);
                            }</style>
                            <div class="wrapper1" style="color: rgb(13, 13, 13); border-radius: 0px;">
                                <div class="wrapper2" style="padding: 5px;">
                                    <div class="grid valign-top paddings-20px xs-wrap">
                                        <div class="gridwrap">
                                            <div class="col" style="width: 65.5942%;">
                                                <div class="cont">
                                                    <div class="node widget widget-grid node1215">
                                                        <style>.node1215 a {
                                                            color: rgb(25, 230, 179);
                                                        }</style>
                                                        <div class="wrapper1"
                                                             style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                            <div class="wrapper2" style="padding: 5px;">
                                                                <div class="grid valign-top paddings-20px xs-wrap">
                                                                    <div class="gridwrap">
                                                                        <div class="col" style="width: 31.1297%;">
                                                                            <div class="cont">
                                                                                <div class="node widget widget-image node1221">
                                                                                    <style>.node1221 a {
                                                                                        color: rgb(25, 230, 179);
                                                                                    }</style>
                                                                                    <div class="wrapper1"
                                                                                         style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                                                        <div class="wrapper2"
                                                                                             style="padding: 5px;">
                                                                                            <div class="xs-force-center"
                                                                                                 style="text-align: center;">
                                                                                                <img class=""
                                                                                                     src="/media/images/avatar_big.jpg"
                                                                                                     style="width: 200px;">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col" style="width: 68.8703%;">
                                                                            <div class="cont">
                                                                                <div class="node widget widget-block node1222">
                                                                                    <style>.node1222 a {
                                                                                        color: rgb(25, 230, 179);
                                                                                    }</style>
                                                                                    <div class="wrapper1"
                                                                                         style="color: rgb(13, 13, 13); border-radius: 5px;">
                                                                                        <div class="wrapper2"
                                                                                             style="padding: 5px; border-radius: 4px;">
                                                                                            <div class="cont">
                                                                                                <div class="node widget widget-header node1244">
                                                                                                    <style>.node1244 a {
                                                                                                        color: rgb(25, 230, 179);
                                                                                                    }</style>
                                                                                                    <div class="wrapper1"
                                                                                                         style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                                                                        <div class="wrapper2"
                                                                                                             style="padding: 5px;">
                                                                                                            <h1 class="xs-force-center">
                                                                                                                <p style="text-align: left;">
                                                                                                                    Творожков
                                                                                                                    Андрей</p>
                                                                                                            </h1>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="node widget widget-paragraph node1245">
                                                                                                    <style>.node1245 a {
                                                                                                        color: rgb(25, 230, 179);
                                                                                                    }</style>
                                                                                                    <div class="wrapper1"
                                                                                                         style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                                                                        <div class="wrapper2"
                                                                                                             style="padding: 5px;">
                                                                                                            <div class="xs-force-center">
                                                                                                                <p>
                                                                                                                    &nbsp;</p>
                                                                                                                <p><span
                                                                                                                        style="font-family: &#39;Open Sans Light&#39;, sans-serif; font-size: 20px;">Email: {{request.user.username}}</span>
                                                                                                                </p>
                                                                                                                <p><span
                                                                                                                        style="font-family: &#39;Open Sans Light&#39;, sans-serif; font-size: 20px;">Телефон: <input type="text" style="border: none;" name="phone_number" placeholder="{{campuser.phone_number}}"></span>
                                                                                                                </p>
                                                                                                                <p><span
                                                                                                                        style="font-family: &#39;Open Sans Light&#39;, sans-serif; font-size: 20px;">Дата рождения: <input type="text" style="border: none;" name="birthday" placeholder="{{campuser.birthday|date:"d.m.Y" }}"></span>
                                                                                                                </p>
                                                                                                                <p><span
                                                                                                                        style="font-family: &#39;Open Sans Light&#39;, sans-serif;"><span
                                                                                                                        style="font-size: 20px; line-height: 28px;">Город: <input type="text" style="border: none;" name="city" placeholder="{{campuser.city}}"></span></span>
                                                                                                                </p>

                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="node widget widget-button node1246"
                                                                                                     data-action="formmodal">
                                                                                                    <style>.node1246 a {
                                                                                                        color: rgb(25, 230, 179);
                                                                                                    }</style>
                                                                                                    <div class="wrapper1"
                                                                                                         style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                                                                        <div class="wrapper2 xs-force-center macros-metabutton"
                                                                                                             style="text-align: center; padding: 5px;">
                                                                                                            <div class="macros-button">
                                                                                                                <div class="btnwrap">
                                                                                                                    <div>
                                                                                                                        <input
                                                                                                                               onclick="$('.more_info').css('display','block'); $('#more').css('display','none'); $('#save').css('display','block');$('#history').css('padding-top','0')"
                                                                                                                               type="button"
                                                                                                                               id="more"
                                                                                                                               class="btn btn-link btn-lg dec"
                                                                                                                               data-id=""
                                                                                                                               value="Подробнее"
                                                                                                                               data-ym_goal=""
                                                                                                                               data-ga_category=""
                                                                                                                               data-ga_action=""
                                                                                                                               data-modal="form"
                                                                                                                               style="color: rgb(0, 0, 0);">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="macros-modal"></div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="node widget widget-block node1216">
                                                        <style>.node1216 a {
                                                            color: rgb(25, 230, 179);
                                                        }</style>
                                                        <div class="wrapper1"
                                                             style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                            <div class="wrapper2" style="padding: 5px 65px 5px 5px;">
                                                                <div class="cont">
                                                                    <div class="node widget widget-header node1223">
                                                                        <style>.node1223 a {
                                                                            color: rgb(25, 230, 179);
                                                                        }</style>
                                                                        <div class="wrapper1"
                                                                             style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                                            <div class="wrapper2" id="history"
                                                                                 style="padding: 39px 5px 19px;">
                                                                                   <div class="more_info" style="display: none; margin-top: -40px">
        <p><span></span></p>
        <p>
            <span style="font-size: 20px; line-height: 28px;">
                Место учёбы/работы: <input type="text" name="occupation" style="border: none;" placeholder="{{campuser.occupation}}">
                    </span>
        </p>
        <p>
            <span style="font-size: 20px; line-height: 28px;">
                Опыт и достижения: <input type="text" name="experience" style="border: none; width: 80%" placeholder='{{campuser.experience}}'>
                    </span>
        </p>
        <p>
            <span style="font-size: 20px; line-height: 28px;">
                Знание языков программирования: <input type="text" name="programming_languages" style="border: none;" placeholder="{{campuser.programming_languages}}">
                                    </span>
        </p>
        <p>
            <span style="font-size: 20px; line-height: 28px;">
                Реализованные проекты: <input type="text" name="projects" style="border: none; width: 80%" placeholder="Много!"></textarea>
                                    </span>
        </p>
        <p>
            <span style="font-size: 20px; line-height: 28px;">
                О себе: <input type="text" name="about" style="border: none; width: 80%" placeholder="{{campuser.about}}"></textarea>
            </span>
        </p>
                                                                                       <input data-action="modal"
                                                                                                                                                                                                                                                       onclick="$('.more_info').css('display','none'); $('#save').css('display','none'); $('#more').css('display','block'); pull()"  id="save" type="button" class="btn btn-link btn-lg dec" value="Сохранить" style="color: rgb(0, 0, 0); display: none; margin: 0 auto">
                                                                                       <script>
                                                                                           function pull(){
                                                                                           var map = {};
                                                                                            $("input").each(function() {
                                                                                                map[$(this).attr("name")] = $(this).val();
                                                                                            });

                                                                                               $.post('/actions/edit_profile/',map)
                                                                                           }
                                                                                       </script>
                                                                                       <br><br><br>
    </div>

                                                                                <h1 class="xs-force-center"><p><span
                                                                                        style="font-size: 32px;">История</span>
                                                                                </p></h1>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="node widget widget-grid node1224">
                                                                        <style>.node1224 a {
                                                                            color: rgb(25, 230, 179);
                                                                        }</style>
                                                                        <div class="wrapper1"
                                                                             style="color: rgb(245, 251, 250); border-radius: 0px; background-color: rgb(67, 180, 152);">
                                                                            <div class="wrapper2"
                                                                                 style="padding: 15px;">
                                                                                <div class="grid valign-top paddings-20px xs-wrap">
                                                                                    <div class="gridwrap">
                                                                                        <div class="col"
                                                                                             style="width: 24.056%;">
                                                                                            <div class="cont">
                                                                                                <div class="node widget widget-paragraph node1247">
                                                                                                    <style>.node1247 a {
                                                                                                        color: rgb(25, 230, 179);
                                                                                                    }</style>
                                                                                                    <div class="wrapper1"
                                                                                                         style="color: rgb(245, 251, 250); border-radius: 0px;">
                                                                                                        <div class="wrapper2"
                                                                                                             style="padding: 5px;">
                                                                                                            <div class="xs-force-center">
                                                                                                                <p><span
                                                                                                                        style="font-size: 20px;"><strong>Дата</strong></span>
                                                                                                                </p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col"
                                                                                             style="width: 31.8739%;">
                                                                                            <div class="cont">
                                                                                                <div class="node widget widget-paragraph node1248">
                                                                                                    <style>.node1248 a {
                                                                                                        color: rgb(25, 230, 179);
                                                                                                    }</style>
                                                                                                    <div class="wrapper1"
                                                                                                         style="color: rgb(245, 251, 250); border-radius: 0px;">
                                                                                                        <div class="wrapper2"
                                                                                                             style="padding: 5px;">
                                                                                                            <div class="xs-force-center">
                                                                                                                <p><span
                                                                                                                        style="font-size: 20px;"><strong>Мероприятие</strong></span>
                                                                                                                </p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col"
                                                                                             style="width: 44.0702%;">
                                                                                            <div class="cont">
                                                                                                <div class="node widget widget-paragraph node1249">
                                                                                                    <style>.node1249 a {
                                                                                                        color: rgb(25, 230, 179);
                                                                                                    }</style>
                                                                                                    <div class="wrapper1"
                                                                                                         style="color: rgb(245, 251, 250); border-radius: 0px;">
                                                                                                        <div class="wrapper2"
                                                                                                             style="padding: 5px;">
                                                                                                            <div class="xs-force-center">
                                                                                                                <p><span
                                                                                                                        style="font-size: 20px;"><strong>Статус</strong></span>
                                                                                                                </p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {%for participant in participants%}<div class="node widget widget-grid node1225">
                                                                        <style>.node1225 a {
                                                                            color: rgb(25, 178, 230);
                                                                        }</style>
                                                                        <div class="wrapper1"
                                                                             style="color: rgb(13, 13, 13); border-radius: 0px; background-color: rgb(255, 255, 255);">
                                                                            <div class="wrapper2"
                                                                                 style="padding: 15px;">
                                                                                <div class="grid valign-middle paddings-20px xs-wrap">
                                                                                    <div class="gridwrap">
                                                                                        <div class="col"
                                                                                             style="width: 24.056%;">
                                                                                            <div class="cont">
                                                                                                <div class="node widget widget-paragraph node1250">
                                                                                                    <style>.node1250 a {
                                                                                                        color: rgb(25, 178, 230);
                                                                                                    }</style>
                                                                                                    <div class="wrapper1"
                                                                                                         style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                                                                        <div class="wrapper2"
                                                                                                             style="padding: 5px;">
                                                                                                            <div class="xs-force-center">
                                                                                                                <p><span
                                                                                                                        style="font-size: 20px;">{{participant.event.event_date|date:"d.m"}}</span>
                                                                                                                </p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        {% csrf_token %}
                                                                                        <div class="col"
                                                                                             style="width: 31.8739%;">
                                                                                            <div class="cont">
                                                                                                <div class="node widget widget-paragraph node1251">
                                                                                                    <style>.node1251 a {
                                                                                                        color: rgb(25, 178, 230);
                                                                                                    }</style>
                                                                                                    <div class="wrapper1"
                                                                                                         style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                                                                        <div class="wrapper2"
                                                                                                             style="padding: 5px;">
                                                                                                            <div class="xs-force-center">
                                                                                                                <p><span
                                                                                                                        style="font-size: 20px;"><strong>{{participant.event.name}}</strong></span>
                                                                                                                </p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col"
                                                                                             style="width: 44.0702%;">
                                                                                            <div class="cont">
                                                                                                <div class="node widget widget-imagedtext node1252 middle">
                                                                                                    <style>.node1252 a {
                                                                                                        color: rgb(25, 178, 230);
                                                                                                    }</style>
                                                                                                    <div class="wrapper1"
                                                                                                         style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                                                                        <div class="wrapper2"
                                                                                                             style="padding: 5px;">
                                                                                                            <div class="tbl">
                                                                                                                <div class="td text">
                                                                                                                    <div style="padding-right: 0px;">
                                                                                                                        <div class="cont"></div>
                                                                                                                        <div class=""
                                                                                                                             style="margin-top: 0px;">
                                                                                                                            <p style="font-size: 110%;">
                                                                                                                                <span style="font-size: 20px;">{{participant.status}}</span>
                                                                                                                            </p>
                                                                                                                        </div>
                                                                                                                        <div class="cont"></div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="td icon"
                                                                                                                     style="width: 28px;">
                                                                                                                    <div class="wrap">
                                                                                                                        <img class=""
                                                                                                                        {% if participant.status.status == 'Зачислен'%}
                                                                                                                             src="/media/images/accepted.png"
                                                                                                                        {% elif participant.status.status == 'Отклонён'%}
                                                                                                                             src="/media/images/declined.png"
                                                                                                                        {% elif participant.status.status == 'Рассматривается'%}
                                                                                                                             src="/media/images/considered.png"
                                                                                                                        {% else %}
                                                                                                                             src="/media/images/refused.png"
                                                                                                                        {% endif %}
                                                                                                                             style="width: 28px; height: 28px;">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>{%endfor%}
                                                            
                                            <div class="col" style="width: 34.4058%;">
                                            {% for event in events %}
                                                <div class="cont">
                                                    <div class="node widget widget-grid node1217">
                                                        <style>.node1217 a {
                                                            color: rgb(25, 230, 179);
                                                        }</style>

                                                        <div class="wrapper1"
                                                             style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                            <div class="wrapper2" style="padding: 15px 5px;">
                                                                <div class="grid valign-middle paddings-20px xs-wrap">
                                                                    <div class="gridwrap">
                                                                        <div class="col" style="width: 30.0695%;">
                                                                            <div class="cont">
                                                                                <div class="node widget widget-block node1228">
                                                                                    <style>.node1228 a {
                                                                                        color: rgb(25, 230, 179);
                                                                                    }</style>
                                                                                    <div class="wrapper1"
                                                                                         style="color: rgb(245, 251, 250); border-radius: 0px; background-color: rgb(67, 180, 152);">
                                                                                        <div class="wrapper2"
                                                                                             style="padding: 5px;">
                                                                                            <div class="cont">
                                                                                                <div class="node widget widget-paragraph node1259">
                                                                                                    <style>.node1259 a {
                                                                                                        color: rgb(230, 25, 25);
                                                                                                    }</style>
                                                                                                    <div class="wrapper1"
                                                                                                         style="color: rgb(13, 13, 13); border-radius: 0px; background-color: rgb(255, 255, 255);">
                                                                                                        <div class="wrapper2"
                                                                                                             style="padding: 5px;">
                                                                                                            <div class="xs-force-center">
                                                                                                                <p style="text-align: center;">
                                                                                                                    <span style="font-size: 36px;"><strong>{{event.event_date|date:"d"}}</strong> </span>
                                                                                                                </p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="node widget widget-paragraph node1260">
                                                                                                    <style>.node1260 a {
                                                                                                        color: rgb(25, 230, 179);
                                                                                                    }</style>
                                                                                                    <div class="wrapper1"
                                                                                                         style="color: rgb(245, 251, 250); border-radius: 0px;">
                                                                                                        <div class="wrapper2"
                                                                                                             style="padding: 5px;">
                                                                                                            <div class="xs-force-center">
                                                                                                                <p style="text-align: center; line-height: 1;">
                                                                                                                    <em><span
                                                                                                                            style="font-family: georgia, palatino;">{{event.event_date|date:"E"}}</span></em>
                                                                                                                </p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col" style="width: 69.9305%;">
                                                                            <div class="cont">
                                                                                <div class="node widget widget-paragraph node1229">
                                                                                    <style>.node1229 a {
                                                                                        color: rgb(25, 230, 179);
                                                                                    }</style>
                                                                                    <div class="wrapper1"
                                                                                         style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                                                        <div class="wrapper2"
                                                                                             style="padding: 5px;">
                                                                                            <div class="xs-force-center">
                                                                                                <p>
                                                                                                    <strong>{{event.name}}</strong>
                                                                                                </p></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="node widget widget-paragraph node1230">
                                                                                    <style>.node1230 a {
                                                                                        color: rgb(25, 230, 179);
                                                                                    }</style>
                                                                                    <div class="wrapper1"
                                                                                         style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                                                        <div class="wrapper2"
                                                                                             style="padding: 5px;">
                                                                                            <div class="xs-force-center">
                                                                                                <p>{{event.description}}</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="node widget widget-button node1231"
                                                                                     data-action="formmodal">
                                                                                    <style>.node1231 a {
                                                                                        color: rgb(25, 230, 179);
                                                                                    }</style>
                                                                                    <div class="wrapper1"
                                                                                         style="color: rgb(13, 13, 13); border-radius: 0px;">
                                                                                        <div class="wrapper2 xs-force-center macros-metabutton"
                                                                                             style="text-align: left; padding: 5px;">
                                                                                            <div class="macros-button">
                                                                                                <div class="btnwrap">
                                                                                                    <div><a
                                                                                                            data-action="modal"                                   
                                                                                                            class="btn btn-transparent dec"
                                                                                                            href='/actions/apply?id={{event.id}}'
                                                                                                            style="border-radius: 0px; border-color: rgb(54, 146, 123); color: rgb(3, 9, 8); background-color: rgba(60, 162, 137, 0.2);">Принять участие</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="macros-modal"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- PLPLINK --></div></div>
        </div>
    </div>
    <div class="modal fade nocolors" data-modal="form" area-context="309">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close">×</button>
                    <h4 class="modal-title font-header"><p><strong>Заявка</strong></p></h4>
                </div>
                <div class="modal-body">
                    <div class="macros-form">
                        <div class="outer">
                            <div class="incon inner pad-invert">
                                <div class="vertical none size-default">
                                    <div class="body">
                                        <div invtone="" class="cont"></div>
                                        <form class="form text-top"
                                              data-form="{&quot;name&quot;:&quot;Виджет \&quot;Кнопка\&quot;&quot;,&quot;type&quot;:&quot;order&quot;,&quot;after&quot;:&quot;msg&quot;,&quot;msg&quot;:&quot;Спасибо!\nВаша заявка отправлена.\nВ ближайшее время мы с Вами свяжемся!&quot;,&quot;url&quot;:&quot;/&quot;,&quot;addhtml&quot;:&quot;&quot;,&quot;js&quot;:&quot;alert(\&quot;Этот код выполняется после успешного отправления заявки.\&quot;);&quot;,&quot;integrations&quot;:[]}"
                                              data-item="[]"
                                              data-fields="[{&quot;name&quot;:&quot;Имя&quot;,&quot;type&quot;:&quot;name&quot;,&quot;required&quot;:false,&quot;id&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Электронная почта&quot;,&quot;type&quot;:&quot;email&quot;,&quot;required&quot;:true,&quot;id&quot;:&quot;&quot;}]">
                                            <div class="fields incon">
                                                <div class="incon" style="width: auto;">
                                                    <div class="field" data-type="name">
                                                        <div class="name">
                                                            <div class=""> Имя&nbsp; </div>
                                                        </div>
                                                        <div class="input"><input type="text" class="form-control"
                                                                                  style="border-radius: 4px;"></div>
                                                    </div>
                                                </div>
                                                <div class="incon" style="width: auto;">
                                                    <div class="field" data-type="email">
                                                        <div class="name">
                                                            <div class=""> Электронная почта&nbsp;<span
                                                                    class="required">*</span></div>
                                                        </div>
                                                        <div class="input"><input type="text" class="form-control"
                                                                                  style="border-radius: 4px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="macros-button">
                                                <div class="btnwrap">
                                                    <div class="incon"><input data-action="" type="submit"
                                                                              class="btn btn-3d1 submit btn-lg"
                                                                              data-id="" value="Отправить заявку!"
                                                                              data-ym_goal="" data-ga_category=""
                                                                              data-ga_action=""
                                                                              style="border-radius: 4px; border-color: rgb(0, 0, 0); color: rgb(242, 242, 242); background-color: rgb(0, 0, 0);">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div invtone="" class="cont"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade nocolors" data-modal="form" area-context="297">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close">×</button>
                    <h4 class="modal-title font-header"><p><strong>Заявка</strong></p></h4>
                </div>
                <div class="modal-body">
                    <div class="macros-form">
                        <div class="outer">
                            <div class="incon inner pad-invert">
                                <div class="vertical none size-default">
                                    <div class="body">
                                        <div invtone="" class="cont"></div>
                                        <form class="form text-top"
                                              data-form="{&quot;name&quot;:&quot;Виджет \&quot;Кнопка\&quot;&quot;,&quot;type&quot;:&quot;order&quot;,&quot;after&quot;:&quot;msg&quot;,&quot;msg&quot;:&quot;Спасибо!\nВаша заявка отправлена.\nВ ближайшее время мы с Вами свяжемся!&quot;,&quot;url&quot;:&quot;/&quot;,&quot;addhtml&quot;:&quot;&quot;,&quot;js&quot;:&quot;alert(\&quot;Этот код выполняется после успешного отправления заявки.\&quot;);&quot;,&quot;integrations&quot;:[]}"
                                              data-item="[]"
                                              data-fields="[{&quot;name&quot;:&quot;Имя&quot;,&quot;type&quot;:&quot;name&quot;,&quot;required&quot;:false,&quot;id&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Электронная почта&quot;,&quot;type&quot;:&quot;email&quot;,&quot;required&quot;:true,&quot;id&quot;:&quot;&quot;}]">
                                            <div class="fields incon">
                                                <div class="incon" style="width: auto;">
                                                    <div class="field" data-type="name">
                                                        <div class="name">
                                                            <div class=""> Имя&nbsp; </div>
                                                        </div>
                                                        <div class="input"><input type="text" class="form-control"
                                                                                  style="border-radius: 4px;"></div>
                                                    </div>
                                                </div>
                                                <div class="incon" style="width: auto;">
                                                    <div class="field" data-type="email">
                                                        <div class="name">
                                                            <div class=""> Электронная почта&nbsp;<span
                                                                    class="required">*</span></div>
                                                        </div>
                                                        <div class="input"><input type="text" class="form-control"
                                                                                  style="border-radius: 4px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="macros-button">
                                                <div class="btnwrap">
                                                    <div class="incon"><input data-action="" type="submit"
                                                                              class="btn btn-3d1 submit btn-lg"
                                                                              data-id="" value="Отправить заявку!"
                                                                              data-ym_goal="" data-ga_category=""
                                                                              data-ga_action=""
                                                                              style="border-radius: 4px; border-color: rgb(36, 97, 82); color: rgb(245, 251, 250); background-color: rgb(60, 162, 137);">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div invtone="" class="cont"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade nocolors" data-modal="form" area-context="300">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close">×</button>
                    <h4 class="modal-title font-header"><p><strong>Заявка</strong></p></h4>
                </div>
                <div class="modal-body">
                    <div class="macros-form">
                        <div class="outer">
                            <div class="incon inner pad-invert">
                                <div class="vertical none size-default">
                                    <div class="body">
                                        <div invtone="" class="cont"></div>
                                        <form class="form text-top"
                                              data-form="{&quot;name&quot;:&quot;Виджет \&quot;Кнопка\&quot;&quot;,&quot;type&quot;:&quot;order&quot;,&quot;after&quot;:&quot;msg&quot;,&quot;msg&quot;:&quot;Спасибо!\nВаша заявка отправлена.\nВ ближайшее время мы с Вами свяжемся!&quot;,&quot;url&quot;:&quot;/&quot;,&quot;addhtml&quot;:&quot;&quot;,&quot;js&quot;:&quot;alert(\&quot;Этот код выполняется после успешного отправления заявки.\&quot;);&quot;,&quot;integrations&quot;:[]}"
                                              data-item="[]"
                                              data-fields="[{&quot;name&quot;:&quot;Имя&quot;,&quot;type&quot;:&quot;name&quot;,&quot;required&quot;:false,&quot;id&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Электронная почта&quot;,&quot;type&quot;:&quot;email&quot;,&quot;required&quot;:true,&quot;id&quot;:&quot;&quot;}]">
                                            <div class="fields incon">
                                                <div class="incon" style="width: auto;">
                                                    <div class="field" data-type="name">
                                                        <div class="name">
                                                            <div class=""> Имя&nbsp; </div>
                                                        </div>
                                                        <div class="input"><input type="text" class="form-control"
                                                                                  style="border-radius: 4px;"></div>
                                                    </div>
                                                </div>
                                                <div class="incon" style="width: auto;">
                                                    <div class="field" data-type="email">
                                                        <div class="name">
                                                            <div class=""> Электронная почта&nbsp;<span
                                                                    class="required">*</span></div>
                                                        </div>
                                                        <div class="input"><input type="text" class="form-control"
                                                                                  style="border-radius: 4px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="macros-button">
                                                <div class="btnwrap">
                                                    <div class="incon"><input data-action="" type="submit"
                                                                              class="btn btn-3d1 submit btn-lg"
                                                                              data-id="" value="Отправить заявку!"
                                                                              data-ym_goal="" data-ga_category=""
                                                                              data-ga_action=""
                                                                              style="border-radius: 4px; border-color: rgb(36, 97, 82); color: rgb(245, 251, 250); background-color: rgb(60, 162, 137);">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div invtone="" class="cont"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade nocolors" data-modal="form" area-context="303">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close">×</button>
                    <h4 class="modal-title font-header"><p><strong>Заявка</strong></p></h4>
                </div>
                <div class="modal-body">
                    <div class="macros-form">
                        <div class="outer">
                            <div class="incon inner pad-invert">
                                <div class="vertical none size-default">
                                    <div class="body">
                                        <div invtone="" class="cont"></div>
                                        <form class="form text-top"
                                              data-form="{&quot;name&quot;:&quot;Виджет \&quot;Кнопка\&quot;&quot;,&quot;type&quot;:&quot;order&quot;,&quot;after&quot;:&quot;msg&quot;,&quot;msg&quot;:&quot;Спасибо!\nВаша заявка отправлена.\nВ ближайшее время мы с Вами свяжемся!&quot;,&quot;url&quot;:&quot;/&quot;,&quot;addhtml&quot;:&quot;&quot;,&quot;js&quot;:&quot;alert(\&quot;Этот код выполняется после успешного отправления заявки.\&quot;);&quot;,&quot;integrations&quot;:[]}"
                                              data-item="[]"
                                              data-fields="[{&quot;name&quot;:&quot;Имя&quot;,&quot;type&quot;:&quot;name&quot;,&quot;required&quot;:false,&quot;id&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Электронная почта&quot;,&quot;type&quot;:&quot;email&quot;,&quot;required&quot;:true,&quot;id&quot;:&quot;&quot;}]">
                                            <div class="fields incon">
                                                <div class="incon" style="width: auto;">
                                                    <div class="field" data-type="name">
                                                        <div class="name">
                                                            <div class=""> Имя&nbsp; </div>
                                                        </div>
                                                        <div class="input"><input type="text" class="form-control"
                                                                                  style="border-radius: 4px;"></div>
                                                    </div>
                                                </div>
                                                <div class="incon" style="width: auto;">
                                                    <div class="field" data-type="email">
                                                        <div class="name">
                                                            <div class=""> Электронная почта&nbsp;<span
                                                                    class="required">*</span></div>
                                                        </div>
                                                        <div class="input"><input type="text" class="form-control"
                                                                                  style="border-radius: 4px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="macros-button">
                                                <div class="btnwrap">
                                                    <div class="incon"><input data-action="" type="submit"
                                                                              class="btn btn-3d1 submit btn-lg"
                                                                              data-id="" value="Отправить заявку!"
                                                                              data-ym_goal="" data-ga_category=""
                                                                              data-ga_action=""
                                                                              style="border-radius: 4px; border-color: rgb(36, 97, 82); color: rgb(245, 251, 250); background-color: rgb(60, 162, 137);">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div invtone="" class="cont"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade nocolors" data-modal="form" area-context="306">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close">×</button>
                    <h4 class="modal-title font-header"><p><strong>Заявка</strong></p></h4>
                </div>
                <div class="modal-body">
                    <div class="macros-form">
                        <div class="outer">
                            <div class="incon inner pad-invert">
                                <div class="vertical none size-default">
                                    <div class="body">
                                        <div invtone="" class="cont"></div>
                                        <form class="form text-top"
                                              data-form="{&quot;name&quot;:&quot;Виджет \&quot;Кнопка\&quot;&quot;,&quot;type&quot;:&quot;order&quot;,&quot;after&quot;:&quot;msg&quot;,&quot;msg&quot;:&quot;Спасибо!\nВаша заявка отправлена.\nВ ближайшее время мы с Вами свяжемся!&quot;,&quot;url&quot;:&quot;/&quot;,&quot;addhtml&quot;:&quot;&quot;,&quot;js&quot;:&quot;alert(\&quot;Этот код выполняется после успешного отправления заявки.\&quot;);&quot;,&quot;integrations&quot;:[]}"
                                              data-item="[]"
                                              data-fields="[{&quot;name&quot;:&quot;Имя&quot;,&quot;type&quot;:&quot;name&quot;,&quot;required&quot;:false,&quot;id&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Электронная почта&quot;,&quot;type&quot;:&quot;email&quot;,&quot;required&quot;:true,&quot;id&quot;:&quot;&quot;}]">
                                            <div class="fields incon">
                                                <div class="incon" style="width: auto;">
                                                    <div class="field" data-type="name">
                                                        <div class="name">
                                                            <div class=""> Имя&nbsp; </div>
                                                        </div>
                                                        <div class="input"><input type="text" class="form-control"
                                                                                  style="border-radius: 4px;"></div>
                                                    </div>
                                                </div>
                                                <div class="incon" style="width: auto;">
                                                    <div class="field" data-type="email">
                                                        <div class="name">
                                                            <div class=""> Электронная почта&nbsp;<span
                                                                    class="required">*</span></div>
                                                        </div>
                                                        <div class="input"><input type="text" class="form-control"
                                                                                  style="border-radius: 4px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="macros-button">
                                                <div class="btnwrap">
                                                    <div class="incon"><input data-action="" type="submit"
                                                                              class="btn btn-3d1 submit btn-lg"
                                                                              data-id="" value="Отправить заявку!"
                                                                              data-ym_goal="" data-ga_category=""
                                                                              data-ga_action=""
                                                                              style="border-radius: 4px; border-color: rgb(36, 97, 82); color: rgb(245, 251, 250); background-color: rgb(60, 162, 137);">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div invtone="" class="cont"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/default.js"></script>
<div id="cboxOverlay" style="display: none;"></div>
<div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
    <div id="cboxWrapper">
        <div>
            <div id="cboxTopLeft" style="float: left;"></div>
            <div id="cboxTopCenter" style="float: left;"></div>
            <div id="cboxTopRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxMiddleLeft" style="float: left;"></div>
            <div id="cboxContent" style="float: left;">
                <div id="cboxTitle" style="float: left;"></div>
                <div id="cboxCurrent" style="float: left;"></div>
                <button type="button" id="cboxPrevious"></button>
                <button type="button" id="cboxNext"></button>
                <button id="cboxSlideshow"></button>
                <div id="cboxLoadingOverlay" style="float: left;"></div>
                <div id="cboxLoadingGraphic" style="float: left;"></div>
            </div>
            <div id="cboxMiddleRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxBottomLeft" style="float: left;"></div>
            <div id="cboxBottomCenter" style="float: left;"></div>
            <div id="cboxBottomRight" style="float: left;"></div>
        </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
</div>
<div>
    <div class="sweet-overlay" tabindex="-1"></div>
    <div class="sweet-alert" tabindex="-1">
        <div class="icon error"><span class="x-mark"><span class="line left"></span><span
                class="line right"></span></span></div>
        <div class="icon warning"><span class="body"></span> <span class="dot"></span></div>
        <div class="icon info"></div>
        <div class="icon success"><span class="line tip"></span> <span class="line long"></span>
            <div class="placeholder"></div>
            <div class="fix"></div>
        </div>
        <div class="icon custom"></div>
        <h2>Title</h2>
        <p>Text</p>
        <button class="cancel" tabindex="2">Cancel</button>
        <button class="confirm" tabindex="1">OK</button>
    </div>
</div>
    </div>
{% include 'goto/footer.html' %}
</body>
</html>