/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: 'Roboto', sans-serif;
   font-size: 100%;
   background:#fff; 
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.header-left{
	float:left;
	width:30%;
}
.menu ul li a span{
	background: url(/media/images/icons.png) no-repeat 0px 0px;
	width: 16px;
	height: 16px;
	display: block;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.menu ul li a span.twitter {
	background-position: 0px 0px;
}
.menu ul li a span.facebook {
	background-position: -16px 0px;
}
.menu ul li a span:hover, .footer-main-right ul li span:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.menu{
	 float:right;
	width:55%;
	margin-top: 0.7em;
}
.menu li{
	display:inline-block;
}
 .menu li:first-child{
   	margin-left:0;
}
.header {
	padding-top: 1.2em;
}
.menu li a{
  	display: block;
	font-size: 16px;
	color:#fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-align:center;
}
#nav .current a {
    	color:#fb326f;
   	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.menu li a:hover ,.menu li a.active{
	color:#999;
} 
.toggleMenu {
	display:  none;
    	border-radius:2em; 
    	-webkit-border-radius:2em;
    	-moz-border-radius:2em;
    	-o-border-radius:2em; 
    	float:right;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}
.nav > li > a {
	margin: 0px 15px;
	padding:0px;
}
@media screen and (max-width:800px) {
    .active {
        display: block;
    }
    
    .nav {
	     list-style: none;
	     *zoom: 1;
	     width:95%;
		 position: absolute;
		 right:23px;
		 top:60px;
		 z-index: 9999;
    }
   .menu li a span.messages{
    	text-align:center;
    	top:15px;
    }
    .nav li ul{
    	width:100%;   	
    }
    .menu ul{
    	margin:0;
    }
    .nav > li.hover > ul {
        width:100%;
    }
    .nav > li {
        float: none;
        display:block;
    }
    .nav ul {
        display: block;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
     .nav li:first-child a{
     	border-top:none;
	display: block;
     }
 }
.banner{
	background:url(/media/images/banner.jpg) no-repeat;
	background-size:cover;
	min-height:750px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.banner-text h3{
	color:#fff;
}
.banner-text h1{
	color:#fff;
	font-size: 3.8em;
	font-weight: 700;
	width: 70%;
	margin:0px;
 	padding:10px 0px 0.7em 0px;
}
.banner-text ul li{
	list-style:none;	
	display:inline-block;
	margin-right:10px;
}
.banner-text ul{
	padding:0px;
}
.banner-text{
	margin-top:15em;
}
.banner-text ul li a {
	color: #fff;
	padding: 13px 30px;
	border:2px solid #fff;
	outline: none;
}
#social{
	position: absolute;
	top:200px;
	right: 15px;
}
.banner-text ul li a:hover,.banner-text ul li a.active{
	background: #fff;
	color: #636aff;
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.news-left a,
.news-right a{
	color: black;
    padding: 13px 30px;
    outline: none;
}

.news-left h2,
.news-right h2{
	color:#464646;
	font-size:3em;
	width:75%;
	margin: 0 auto;
	text-align: center;
	font-weight: 700;
}
.news-right p,
.news-left p{
	color:#b7b7b7;
  	font-size:16px;
	width: 85%;
	margin: 0 auto;
	padding:1em 0px;
	font-weight:300;
	line-height:1.9em;
}
.work-top{
	text-align:center;
}
.work-top h3{
	color:#464646;
	font-size: 2em;
	font-weight: 700;
}
.work-top p,.comments-head p{
	color:#BBB6B6;
	font-size:18px;
	width:36%;
	margin:0 auto;
	font-weight:300;
	padding-top: 1em;
}
.work-bottom-left h4{
	color:#464646;
	font-size:18px;
	font-weight:900;
	padding: 1.6em 0px 1.2em 0px;
	margin:0px;
	line-height: 1.5em;
}
.work-bottom-left p{
	color:#b7b7b7;
	font-size:16px;
	line-height: 1.5em;
}
.work-bottom-left span.work-icon1{
	background:url('../images/hut.png') no-repeat 0px 0px;
	width:64px;
	height:64px;
	display:block;
}
.work-bottom-left span.work-icon2{
	background:url('../images/adjust.png') no-repeat 0px 0px;
	width:64px;
	height:64px;
	display:block;
}
.work-bottom-left span.work-icon3{
	background:url('../images/dollor.png') no-repeat 0px 0px;
	width:64px;
	height:64px;
	display:block;
}
.work-bottom-left span.work-icon4{
	background:url('../images/calender.png') no-repeat 0px 0px;
	width:64px;
	height:64px;
	display:block;
}
.work-bottom-left span.work-icon5{
	background:url('../images/fblike.png') no-repeat 0px 0px;
	width:64px;
	height:64px;
	display:block;
}
.work-bottom-left span.work-icon6{
	background:url('../images/heart.png') no-repeat 0px 0px;
	width:64px;
	height:64px;
	display:block;
}
.work-bottom-left {
	width: 77%;
}
.work-bottom-top {
	padding-top: 4em;
}
.work {
	padding: 4em 0px;
}
.about {
	background: #FAF8F9;
	padding:5em 0px;
}
.about-right h3{
	font-size:1.8em;
	color:#464646;
	font-weight:900;
	margin: 3.2em 0px 0px 0px;
	}
.about-right p{
	font-size:18px;
	color:#CACACA;
	width:76%;
	font-weight:300;
	line-height:1.7em;
	padding:1.5em 0px 2.5em 0px;
	}
.about-right a{
	color: #fff;
	padding: 13px 30px;
	background: #e92121;
        border-radius:0.3em;
        -webkit-border-radius:0.3em;
        -moz-border-radius: 0.3em;
        -o-border-radius: 0.3em;
	font-size:16px;
	border: 2px solid #e92121;
}
.about-right a:hover{
	text-decoration:none;
	background:#464646;
	border: 2px solid #464646;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.about-left {
	text-align: right;
	padding-right: 3em;		
}
.choose-left h2{
	color:#424242;
	font-size:3em;
	width:50%;
	font-weight: 700;
	margin:2em 0px 0px 1.3em
}
.choose-right-top h4{
	color:#474747;
	font-size:1.2em;
	margin:0px;
	font-weight: 900;
	}
.choose-right-top p {
	color: #B6B6B6;
	font-size: 16px;
	font-weight: 300;
	width: 85%;
	padding-top:1em;
	line-height: 1.6em;
}
.choose {
	padding: 5em 0px;
}
.choose-right-top {
	padding: 1.5em 0px;
}
.gallery-top-img{
	width:25%;
	float:left;
}
.gallery-top-img img{
	width:100%;
}
.gallery-top-img h3 {
	font-size: 3.3em;
	color: #464646;
	font-weight: 700;
	margin-top: 1.8em;
	padding: 0px 0px 1em  1em;
}
.gallery-bottom-text p{
	font-size:16px;
	color:#B7B7B7;
	width:80%;
	font-weight:300;
	line-height:1.9em;
}
.photoblog-bottom-left span {
	margin-top: 3em;
}

.caption{
         display:none;
         top:0;
         width:100%;
         position:absolute;
         background:rgba(21, 164, 250, 0.67);
         height:100%;
         text-align:center;
}
.photoblog-top-left:hover div.caption{
                           display:block;
                           transition: all 0.3s ease; 
                    -webkit-transition: all 0.3s ease;
                   -moz-transition: all 0.3s ease;
                   -o-transition: all 0.3s ease;
}

.gallery-top-img span{
	margin-left: 3em;
}
.gallery-top-img span,.photoblog-bottom-left span {
	background: url(../images/string.png) no-repeat 0px 0px;
	width: 67px;
	height: 10px;
	display: block;
}
.gallery-bottom {
	padding: 3em 0px;
}
.comments-head{
	text-align:center;
}
.comments {
	background: #FAF8F9;
	padding: 4em 0px 2em 0px;
}
.comments-head h3{
	font-size:1.8em;
	color:#464646;
	font-weight:700;
	margin:0px;
	padding-bottom:15px;
}
.comments-left{
	width:16%;
	float:left;
}
.comments-right{
	width:83%;
	float:right;
}
.comments-right h3{
	font-size:1.2em;
	color:#484848;
	font-weight:700;
	margin: 0px;
	padding-bottom: 10px;
}
.comments-right p{
	color:#C3C3C3;
	font-weight:300;
	width:87%;
	}
.comments-right p.para1{
	font-size:15px;
}
.comments-right p.para2{
	font-size:16px;
	line-height:1.8em;
	padding-top:1em;
}
.comments-left span{
	background:url(../images/quots.png) no-repeat;
	width:38px;
	height:38px;
	display:block;
	cursor: pointer;
}
.comments-bottom {
	padding: 2em 0px;
}
.photoblog-top-left{
	width:25%;
	float:left;
	 position:relative;
          cursor: pointer;
}
.photoblog-top-left img{
	width:100%;
}
.photoblog-bottom-left h3{
	font-size: 3.3em;	
	color: #464646;
	font-weight: 700;
	margin-top: 1.8em;
	width:50%;
	}
.photoblog-bottom-left {
	padding:8px 0px 8px 0px;
}
.photoblog-top-text p{
	font-size:16px;
	font-weight:300;
	color: #B7B7B7;
	width: 79%;
	line-height:1.8em
	}
.photoblog-bottom {
	padding-top: 3em;
}
.photoblog{
	padding: 5em 0px;
}
.footer{
	background:#141414;
	padding: 4em 0px;
}
.footer-main-left h3{
	color:#fff;
	margin: 0px;
	padding-bottom: 1.5em;
}
.footer-main-right{
	text-align:right;
}
.footer-main-right ul li{
	list-style:none;
	display:inline-block;
	}
.footer-main-right ul li span{
	background:url(/media/images/social-icons.png) no-repeat 0px 0px;
	width:31px;
	height:23px;
	display:block;
	opacity: 0.4;
    	filter: alpha(opacity=40);
}
.footer-main-right ul li span.facebook{
	background-position:16px 0px;
}
.footer-main-right ul li span.twitter{
	background-position:-26px 0px;
}
.footer-main-right ul li span.dribble{
	background-position:-70px 0px;
}
.footer-main-right ul li span.google{
	background-position:-111px 0px;
}
.footer-main-right p{
	color:#474747;
	font-size:16px;
	padding-top: 2.2em;
}
.footer-bottom-left p{
	padding-top: 0.6em;
	color:#474747;
	font-size:16px;
	cursor: pointer;
}
.footer-bottom-left p:hover,.footer-bottom-left p.active{
	text-decoration:underline;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.footer-main-right p a{
	color:#fff;
	}
.footer-main-right p a:hover{
	text-decoration:none;
	color:#474747;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.footer-bottom-left {
	padding: 0px;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(/media/images/banner.jpg) no-repeat 0px 0px;
}
/*---/Media Queries Starts Here ----*/
@media (max-width:1366px){
.menu{
	margin-top:0.76em;
}
}
@media (max-width:1280px){
.banner {
	min-height: 700px;
}
.banner-text h1 {
	font-size: 3.7em;
}
.banner-text {
	margin-top: 13em;
}
.news {
	padding: 3em 0px;
}
.news-right p {
	width: 86%;
}
.gallery-bottom-text p {
	width: 75%;
}
.comments {
	padding: 4em 0px 2em 0px;
}
.work-bottom-left {
	width: 87%;
}
}
@media (max-width:1024px){
.banner-text h1 {
	font-size: 3.6em;
}
.banner {
	min-height: 570px;
}
.banner-text {
	margin-top: 8.5em;
}
.banner-text ul li a {
	padding: 10px 20px;
}
.news-right p {
	width: 98%;
}
.news-left h2,.choose-left h2{
	font-size: 2.8em;
}
.work-bottom-left {
	width: 100%;
}
.choose {
	padding: 3em 0px;
}
.gallery-top-img h3 {
	font-size: 3em;
	margin-top: 1.3em;
}
.photoblog-bottom-left span {
	margin-top: 2em;
}
.photoblog-bottom-left h3 {
	font-size: 3em;
	margin-top: 1.55em;
}
.photoblog-top-text p {
	width: 91%;
}
.footer {
	padding: 2.5em 0px;
}
.gallery-bottom-text p {
	width: 92%;
}
}
@media (max-width:768px){
.menu{
      width:100%;
	float: none;
	margin-top: 0.3em;
}
.banner-text h1 {
	font-size: 3.3em;
	padding: 10px 0px 0.6em 0px;
}

.banner-text h1 {
	font-size: 2.6em;
	padding: 5px 0px 0.5em 0px;
}
.toggleMenu img {
	width: 95%;
}
.menu ul.nav{
	margin-top:2em;
}
ul.nav{
        display:none;
	background:#000;
	border:1px solid #fff;
	padding:0px;
}
.menu ul.nav li{
       	display:block;
       	text-align:center;
      	margin:1px;
      	padding: 5px;
         }
.banner {
	background-size:160% !important;
	
}
.menu ul li a span {
	margin: 0 auto;
}
.banner-text h3 {
	font-size: 20px;
}
.banner-text {
	margin-top: 8em;
}
.banner-text ul li a {
	padding: 6px 15px;
}
.banner {
	min-height: 500px;
}
.news-left h2 {
	width:100%;
	font-size: 2.3em;
	margin-top:0px;
	text-align: center;
}
.news-right p {
	width: 100%;
}
.work-bottom-left {
	width: 100%;
	text-align: center;
	padding-bottom:10px;
}
.work-bottom-left span.work-icon1,.work-bottom-left span.work-icon2,.work-bottom-left span.work-icon3{
	width: 11%;
	margin: 0 auto;
}
.work-bottom-left span.work-icon4,.work-bottom-left span.work-icon5,.work-bottom-left span.work-icon6{
	width: 11%;
	margin: 0 auto;
}

.work-top p, .comments-head p {
	width: 55%;
	padding-top: 10px
}
.work-bottom-top {
	padding-top: 2em;
}
.about-left {
	text-align: center;
	padding: 0px;
}
.about-right{
	text-align: center;
}
.about-right a {
	padding: 10px 10px;
	width: 20%;
	margin: 0 auto;
}
.about-right p {
	width: 99%;
	padding:1em 0px 1em 0px
}
.choose-right,.choose-left {
	text-align: center;
}
.choose-left h2 {
	font-size: 2.3em;
	width: 100%;
	margin: 0px;
}
.choose-right-top p {
	width: 100%;
}
.gallery-top-img h3 {
	font-size: 2.5em;
	margin: 1em 0px 0px 0px;
	padding: 0px 0px 15px 5px;
}
.gallery-bottom-text p {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 1em;
}
.gallery-bottom {
	padding: 2em 0px;
}
.comments-left {
	float: none;
	margin: 0 auto;
	width: 5%;
}
.comments-right h3 {
	padding: 10px 0px 10px 0px;
}
.comments-right {
	width: 100%;
	float: none;
}
.gallery-top-img {
	width: 50%;
}
.gallery-top-img span {
	margin-left: 7px;
}
.comments-bottom {
	padding: 0.6em 0px;
	text-align: center;
}
.comments-right p {
	width: 100%;
}
.comments-right p.para2 {
	padding-top: 10px;
}
.photoblog-top-left {
	width: 50%;
}
.photoblog-bottom-left h3 {
	width: 70%;
}
.photoblog-bottom-left span {
	margin: 1em 0px 2em 0px;
}
.photoblog-bottom-left h3 {
	font-size: 2.5em;
	margin-top: 1em;
}
.photoblog-top-text p {
	width: 100%;
	padding-bottom: 1em;
}
.photoblog {
	padding: 3em 0px 2em 0px;
}
.footer-main-right {
	text-align: center;
}
.footer-main-right ul{
	padding:0px;
}
.footer-main-left {
	text-align: center;
}
.footer-main-right p {
	padding-top: 1em;
}
.footer-main-left h3 {
	padding-bottom: 0.5em;
}
.footer-bottom {
	padding-bottom: 2em;
}
.news {
	padding: 2em 0px;
}
.work {
	padding: 2em 0px;
}
.work-bottom-left h4 {
	padding: 0.8em 0px 5px 0px;
	line-height: 1.2em;
}
.about {
	padding: 3em 0px;
}
.about-right h3 {
	margin: 1.5em 0px 0px 0px;
}
.choose-right-top {
	padding: 1.5em 0px 0px 0px;
}
}
@media (max-width:640px){
.banner {
	min-height: 415px;
}
.banner-text h1 {
	font-size: 2.5em;
	padding: 3px 0px 0.3em 0px;
}
.nav{
	right:16px;
}
.banner-text {
	margin-top: 6em;
}
.banner-text {
	margin-top: 5.5em;
}
.gallery-top-img h3 {
	font-size: 2.3em;
}
.work-top p, .comments-head p {
	width: 100%;
}
.comments-head h3 {
	padding-bottom: 5px;
}
.photoblog-bottom-left h3 {
	font-size: 2.3em;
}
.footer {
	padding: 2em 0px;
}
.photoblog-bottom {
	padding-top: 2em;
}
.gallery-bottom {
	padding: 1em 0px;
}
.work-bottom-left span.work-icon1, .work-bottom-left span.work-icon2, .work-bottom-left span.work-icon3 {
	width: 13%;
	margin: 0 auto;
}
.work-bottom-left span.work-icon4, .work-bottom-left span.work-icon5, .work-bottom-left span.work-icon6 {
	width: 13%;
	margin: 0 auto;
}
.news-right p {
	padding: 0.5em 0px;
	line-height: 1.7em;
}
.news-left h2{
	padding-bottom: 10px;
	font-size: 2em;
	font-weight:900;
}
.choose-left h2{
	font-size: 2em;
	font-weight:900;
}
}
@media (max-width:480px){
.header {
	padding-top: 1em;
}
a.toggleMenu img {
	width: 86%;
}
.work-bottom-left p {
	font-weight: 300;
}
.about-left img {
	width: 55%;
}
.banner-text h1 {
	font-size: 2em;
	padding: 0px 0px 0.3em 0px;
}
.about {
	padding: 1.5em 0px;
}
.banner-text h3 {
	font-size: 18px;
}
.banner-text h2 {
	font-size: 1.8em;
	padding: 0px 0px 0.4em 0px;
	line-height: 34px;
}
.banner-text {
	margin-top: 3em;
}
.nav {
	width: 93%;
}
.menu ul.nav {
	margin-top: 0em;
}
.banner {
	min-height: 309px;
}
.news-left h2 {
	font-size: 1.8em;
}
.news-right p {
	line-height: 1.6em;
	font-size:15px;
}
.news-right p {
	padding: 0.3em 0px;
}
.work-bottom-left span.work-icon1,.work-bottom-left span.work-icon2,.work-bottom-left span.work-icon3{
	width: 60px;
	height: 60px;
	background-size: 86%;
}
.work-bottom-left span.work-icon4,.work-bottom-left span.work-icon5,.work-bottom-left span.work-icon6{
	width: 60px;
	height: 60px;
	background-size: 86%;
}
.work-bottom-left h4 {
	padding: 0em 0px 5px 0px;
}
.work-bottom-top {
	padding-top: 1em;
}
.about-right p {
	width: 100%;
}
.about-right a {
	padding: 6px 10px;
	width: 28%;
}
.about-right h3 {
	margin: 0.5em 0px 0px 0px;
}
.choose-left h2 {
	font-size: 1.9em;
}
.gallery-top-img h3 {
	font-size: 1.8em;
	margin: 0.8em 0px 0px 0px;
}
.gallery-bottom-text p {
	line-height: 1.7em;
}
.choose {
	padding: 2em 0px;
}
.comments-head h3 {
	font-size: 1.6em;
}
.comments {
	padding: 2em 0px 1.5em 0px;
}
.photoblog-bottom-left h3 {
	font-size: 1.8em;
	margin-top: 0.5em;
}
.photoblog-bottom-left span {
	margin: 0.5em 0px 0.7em 0px;
}
.photoblog-top-text p {
	line-height: 1.7em;
}
}
@media (max-width:320px){
.menu li a {
	font-weight: 900;
}
.header {
	padding-top: 0.8em;
}
.banner-text ul li {
	margin-right: 4px;
}
.banner-text h3 {
	font-size: 13px;
	margin-bottom: 2px;
}
.banner-text h1 {
	font-size: 1.2em;
	padding: 5px 0px 0.4em 0px;
}
.banner-text ul li a{
	font-size: 13px;
	padding: 2px 5px;
}
.banner-text {
	margin-top: 1.1em;
}
.banner-text h2 {
	padding: 0px 0px 2px 0px;
}
a.toggleMenu img {
	width: 80%;
}
.nav {
	width: 90%;
}
.banner {
	min-height: 200px;
}
.news-left h2{
	font-size: 1.1em;
	padding-bottom: 5px;
}
.news-right p {
	line-height: 1.5em;
	padding: 0.3em 0px;
}
.news {
	padding: 1.2em 0px;
}
.work-top h3 {
	font-size: 1.3em;
}
.work-top p, .comments-head p {
	font-size: 15px;
}
.work-top h3 {
	margin: 0px;
}
.work-bottom-left h4 {
	font-size: 17px;
	font-weight: 700;
}
.work-bottom-left p {
	font-size: 15px;
}
.about-left img {
	width: 65%;
}
.about-right a {
	padding: 4px 10px;
	width: 45%;
}
.about-right p {
	font-size: 15px;
	line-height: 1.3em;
}
.choose-left h2{
	font-size: 1.3em;
}
.choose-right-top p {
	line-height: 1.5em;
	padding-top: 0.5em;
	font-size:15px;
}
.choose-right-top {
	padding: 0.5em 0px 0px 0px;
}
.gallery-top-img h3 {
	font-size: 1.1em;
	margin: 0.6em 0px 0px 0px;
	padding: 0px 0px 10px 5px;
}
.gallery-bottom-text p {
	padding-bottom: 0.5em;
	line-height: 1.5em;
	font-size:15px;
}
.comments-head h3 {
	font-size: 1.2em;
	padding-bottom: 0px;
}
.work-top p, .comments-head p {
	padding-top: 0px;
}
.comments-left span {
	background-size: 85%;
}
.comments-left {
	width: 13%;
}
.comments-right p.para2 {
	padding-top: 5px;
	font-size:15px;
}
.comments-bottom {
	padding: 0.3em 0px;
}
.photoblog {
	padding: 1em 0px 0em 0px;
}
.photoblog-bottom-left h3 {
	font-size: 1.3em;
	margin: 0.3em 0px 7px 0px;
}
.photoblog-bottom-left {
	padding: 3px 0px 8px 0px;
}
.photoblog-bottom-left span {
	margin: 0.1em 0px 0.1em 0px;
}
.photoblog-top-text p {
	line-height: 1.5em;
	font-size:15px;
}
.photoblog-bottom {
	padding-top: 1em;
}
.footer {
	padding: 1em 0px;
}
.footer-main-left h3 {
	padding-bottom: 0.2em;
}
.footer-bottom {
	padding-bottom: 1em;
}
.footer-main-right p {
	padding-top: 0.5em;
}
}
#partners{
	float: left;
	height: 100px;
}
#partners img{
	height: 50px;
	margin: 10px;
}
#partners h2{
	text-align: center;
	font-size: 50px;
}
#no-hover :hover{
	color: white;
	cursor: pointer;
}
.modal-close{
	position: absolute;
    top: 10px;
    right: 10px;
}
.modal-close img{
	width: 3rem;
	height: 3rem;
}
.middle{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.middle div{
	cursor: pointer;
	color: white;
	padding: 10px;
	height: 46px;
	display: block;
	margin: 0 auto;
	width: 300px;
	border: 2px solid #fff;
}
.middle input{
    font-size: 20px;
    color: #fff;
	background: rgba(0,0,0,0);
    border: solid 2px #fff;
    display: block;
    width: 300px;
	height: 46px;
	margin: 20px auto;
    padding: 0.09rem 0.18rem;
}
.overlay{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0.5);
}
/*---//Media Queries ends Here ----*/